In [47]:
from crypto_pandas import CCXTPandasExchange
import ccxt
import pandas as pd

# 1. Initialize raw CCXT exchange
binance = ccxt.binance()

# 2. Wrap it with Crypto-Pandas
exchange = CCXTPandasExchange(binance)

# 3. Load markets
markets = exchange.load_markets().query("type == 'spot'")

In [48]:
markets["quote"].unique()

array(['BTC', 'ETH', 'USDT', 'BNB', 'TUSD', 'PAX', 'USDC', 'XRP', 'USDS',
       'TRX', 'BUSD', 'NGN', 'RUB', 'TRY', 'EUR', 'ZAR', 'BKRW', 'IDRT',
       'GBP', 'UAH', 'BIDR', 'AUD', 'DAI', 'BRL', 'BVND', 'VAI', 'USDP',
       'DOGE', 'UST', 'DOT', 'PLN', 'RON', 'ARS', 'FDUSD', 'AEUR', 'JPY',
       'MXN', 'CZK', 'COP', 'EURI', 'SOL'], dtype=object)

In [49]:
tickers = exchange.fetch_tickers().dropna(subset=["last"])
tickers = tickers[["symbol", "last"]].merge(markets[["symbol", "base", "quote"]])
tickers

          symbol       last  base  quote
0        ETH/BTC   0.032260   ETH    BTC
1        LTC/BTC   0.000930   LTC    BTC
2        BNB/BTC   0.006795   BNB    BTC
3        NEO/BTC   0.000054   NEO    BTC
4       QTUM/ETH   0.000570  QTUM    ETH
...          ...        ...   ...    ...
1496   TREE/USDC   0.582100  TREE   USDC
1497    TREE/BNB   0.000728  TREE    BNB
1498  TREE/FDUSD   0.582000  TREE  FDUSD
1499    TREE/TRY  23.650000  TREE    TRY
1500    A2Z/USDT   0.005005   A2Z   USDT

[1501 rows x 4 columns]

In [50]:
usdt_tickers = tickers.query("quote == 'USDT'")
usdt_tickers

         symbol           last  base quote
7      BTC/USDT  118475.280000   BTC  USDT
8      ETH/USDT    3821.840000   ETH  USDT
35     BNB/USDT     804.990000   BNB  USDT
38     NEO/USDT       6.430000   NEO  USDT
49     LTC/USDT     110.210000   LTC  USDT
...         ...            ...   ...   ...
1471    LA/USDT       0.353500    LA  USDT
1480   ERA/USDT       1.157100   ERA  USDT
1485     C/USDT       0.324300     C  USDT
1495  TREE/USDT       0.581600  TREE  USDT
1500   A2Z/USDT       0.005005   A2Z  USDT

[412 rows x 4 columns]

In [51]:
usdt_tickers = usdt_tickers[["last", "symbol", "base"]].rename(
    columns={"last": "usdt_price", "symbol": "intermediate_symbol", "base": "quote"}
)
usdt_tickers

         usdt_price intermediate_symbol quote
7     118475.280000            BTC/USDT   BTC
8       3821.840000            ETH/USDT   ETH
35       804.990000            BNB/USDT   BNB
38         6.430000            NEO/USDT   NEO
49       110.210000            LTC/USDT   LTC
...             ...                 ...   ...
1471       0.353500             LA/USDT    LA
1480       1.157100            ERA/USDT   ERA
1485       0.324300              C/USDT     C
1495       0.581600           TREE/USDT  TREE
1500       0.005005            A2Z/USDT   A2Z

[412 rows x 3 columns]

In [52]:
tickers = tickers.merge(usdt_tickers)
tickers["usdt_price"] *= tickers["last"]
tickers

         symbol      last   base  quote   usdt_price intermediate_symbol
0       ETH/BTC  0.032260    ETH    BTC  3822.012533            BTC/USDT
1       LTC/BTC  0.000930    LTC    BTC   110.182010            BTC/USDT
2       BNB/BTC  0.006795    BNB    BTC   805.039528            BTC/USDT
3       NEO/BTC  0.000054    NEO    BTC     6.433208            BTC/USDT
4      QTUM/ETH  0.000570   QTUM    ETH     2.178449            ETH/USDT
..          ...       ...    ...    ...          ...                 ...
740    FUN/USDC  0.012966    FUN   USDC     0.012966           USDC/USDT
741  LISTA/USDC  0.303300  LISTA   USDC     0.303300           USDC/USDT
742   TREE/USDC  0.582100   TREE   USDC     0.582100           USDC/USDT
743    TREE/BNB  0.000728   TREE    BNB     0.585791            BNB/USDT
744  TREE/FDUSD  0.582000   TREE  FDUSD     0.580778          FDUSD/USDT

[745 rows x 6 columns]

In [53]:
tickers.query("base == 'ETH'")

        symbol        last base  quote   usdt_price intermediate_symbol
0      ETH/BTC     0.03226  ETH    BTC  3822.012533            BTC/USDT
59    ETH/TUSD  3832.51000  ETH   TUSD  3822.162223           TUSD/USDT
80    ETH/USDC  3821.71000  ETH   USDC  3821.710000           USDC/USDT
120    ETH/EUR  3306.16000  ETH    EUR  3822.251576            EUR/USDT
300  ETH/FDUSD  3829.75000  ETH  FDUSD  3821.707525          FDUSD/USDT
509   ETH/EURI  3306.37000  ETH   EURI  3822.494357           EURI/USDT